---
import '@fontsource-variable/playfair-display';
import '@fontsource-variable/space-grotesk';

import { Image } from 'astro:assets';
import type {ImageMetadata} from "astro";

import { getCollection } from 'astro:content';
import {getImage} from "astro:assets";

interface Props {
	title: string,
	image: ImageMetadata,
	image_name: string,
}

const { title, image, image_name } = Astro.props;

const images = await getCollection("image");
const current_image = images.find((value) => {
	return value.data.image == image_name;
});
const image_file = await getImage(current_image!.data.image)
console.log(image_file)
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ein Quiz zum 9. November." />
		<meta name="author" content='Dacjan "kurwjan" Gapinski'>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!--<FullscreenModal client:only="svelte"></FullscreenModal>-->
		<!--<video preload="auto" autoplay muted loop>
			<source src="/video.webm" type="video/webm">
		</video>-->
		<Image src={image} alt="Reichstag" />
		<div class="left">
			<main class="on-video">
				<slot />
			</main>
		</div>
		<div class="notice flex items-center gap-3">
			<p>{current_image!.data.short}</p>
			<a href="#" class="bg-white text-black rounded-lg small-button">Mehr Info</a>
		</div>
	</body>
</html>

<style is:global>
	:root {
	}

	html {
		background-color: black;
		
		width: 100%;
		height: 100%;
	}

	body {
		color: white;

		margin: 0;
		width: 100%;
		height: 100%;
	}

	video {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		z-index: -1;
	}

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		object-fit: cover;
		z-index: -1;
	}

	.left {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;

		padding: 2em 16em;

		height: 100%;
	}

	.on-video {
		box-sizing: border-box;

		font-family: sans-serif;
		font-size: xx-large;

		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		width: 50%;
		max-width: 13em;

		padding: 0 0 0.95em;

		/* Frosted glass effect */
		background: rgba(12, 12, 12, 0.75);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(36px);
		border: 2px solid rgba(0, 0, 0, 0.3);
	}

	.notice {
		position: absolute;
		right: 2em;
		bottom: 2em;

		padding: 0.25em 0.75em;

		/* Frosted glass effect */
		background: rgba(12, 12, 12, 0.75);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(36px);
		border: 2px solid rgba(0, 0, 0, 0.3);
	}

	.small-button {
		font-family: 'Space Grotesk Variable', sans-serif;
		padding: 0.25rem 0.5rem;
	}

	.small-button:active {
		transform: scale(0.95);
		background-color: #dadada;
	}
</style>
