---
interface Props {
    choices: string[],
    valid: string,
    title: string
}

const { choices, valid, title} = Astro.props;
---

<main>
    <h1>{title}</h1>
    {choices.map((choice) => (
        <input type="radio" id={choice} name={title} value={choice}>
        <label for={choice}>{choice}</label>
    ))}
    <button></button>
</main>

<script>
    function check(selected: string) {
        if (selected != valid) {

        }
    }
</script>