---
import Layout from './Layout.astro'
import ToggleGroup from "../components/ToggleGroup.svelte";

import type { ImageMetadata } from "astro";

interface Props {
    choices: string[],
    valid: string[],
    subject: string,
    index: number,
    max: number,
    id: string,
    image: ImageMetadata
}

const { choices, valid, subject, index, max, id, image} = Astro.props;
---

<Layout title={subject} image={image}>
    <div class="root">
        <div class="flex justify-between items-start text-start w-full small">
            <small class="text-xs">Frage {index} von {max}</small>
            <a class="text-xs" href="/">x</a>
        </div>
        <h1>{subject}</h1>
        <div class="text-xl description">
            <slot/>
        </div>
        <ToggleGroup choices={choices} client:load/>
        <button id="checkButton" class="bg-white text-black rounded-lg text-xl border border-solid border-black" data-id={id} data-valid={JSON.stringify(valid)}>Überprüfen</button>
    </div>
</Layout>

<style>
    .root {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        width: 100%;

        gap: 0.45em;
    }

    .small {
        color: #656565;

        padding: 0.3em 0.5em;

        font-family: 'Space Grotesk Variable', sans-serif;
    }

    h1 {
        font-family: "Playfair Display Variable", serif;
        font-variant-caps: small-caps;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1;
    }

    .description {
        font-family: 'Space Grotesk Variable', sans-serif;

        padding: 0 1em;
    }

    button {
        user-select: none;

        padding: 0.4rem 1.2rem 0.4rem 1.2rem;

        font-family: 'Space Grotesk Variable', sans-serif;
    }

    button:active {
        transform: scale(0.95);
        background-color: #dadada;
    }
</style>

<script>
    const checkButton: HTMLButtonElement = document.querySelector("#checkButton")!;

    checkButton.addEventListener("click", () => {
        let selected_list = document.querySelectorAll('button[aria-pressed="true"]');
        let selected_text: string[] = [];
        for (let i = 0; i < selected_list.length ; i++) {
            selected_text.push((selected_list[i] as HTMLButtonElement).textContent!.trim());
        }

        let valid_list = JSON.parse(checkButton.dataset.valid!);
        let valid_text: string[] = [];
        for (let i = 0; i < valid_list.length ; i++) {
            if (selected_text.includes(valid_list[i])) {
                valid_text.push(valid_list[i]);
            }
        }

        localStorage.setItem(checkButton.dataset.id as string, JSON.stringify({"type": "multiple_choice", "content": JSON.stringify(selected_text), "valid": JSON.stringify(valid_text)}));

        window.location.href = "/result/multiple_choice/" + checkButton.dataset.id;
    });
</script>